@use "./common/_viewport.scss" as mq;
@use "./common/_font.scss" as font;
@use "./common/_color.scss" as color;

.hero_title {
	@include font.notoSerif_b;
	position: absolute;
	top: 200px;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;
	font-size: 2.8rem;
	letter-spacing: 0.3em;
	filter: drop-shadow(1px 1px 5px #eeeeee);

	@include mq.mq(xs) {
		font-size: 2.4rem;
		letter-spacing: 0.2em;
	}
}
