@use "./common/_color.scss" as color;

.footer {
    padding: 20px;
    background-color: color.$main;
    text-align: center;

    p,
    span,
    a {
        color: #ffffff;
        letter-spacing: 0.03em;
    }
}
.footer p {
    color: #e3e3e3;
    letter-spacing: 0.05em;
}
