@use "./common/_color.scss" as color;
@use "./common/_viewport.scss" as mq;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;

	@include mq.mq(sp) {
		font-size: 1.5rem;
	}
}

p,
span {
	color: #313131;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.root {
	display: flex;
	flex-direction: column;
	height: 100vh;

	main {
		flex-grow: 2;
	}
}

.sp_none {
	@include mq.mq(sp) {
		display: none;
	}
}

.isp_none {
	@include mq.mq(isp) {
		display: none;
	}
}

.xs_none {
	@include mq.mq(ipc) {
		display: none;
	}
}

.common_wrap {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 60px 30px;

	@include mq.mq(isp) {
		padding: 60px 20px;
	}

	@include mq.mq(xs) {
		padding: 30px 15px;
	}
}

.common_search {
	height: 45px;
	display: flex;
	box-shadow: 2px 4px 5px 2px #3e0f0f50;
}

.common_search .input_text {
	height: 100%;
	width: 300px;
	opacity: 0.9;
	font-size: 1.5rem;
	padding: 5px 10px;
	color: #333333;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: -1px 0px 4px 0px #3e0f0f40 inset;
	border: none;

	@include mq.mq(xs) {
		width: 100%;
	}
}

.common_search .input_btn {
	height: 100%;
	width: 60px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #3e0f0f;
	position: relative;
}

.common_search .input_btn input {
	display: block;
	height: 100%;
	width: 60px;
	border-top-right-radius: inherit;
	border-bottom-right-radius: inherit;
	border: none;
	background-color: #3e0f0f;
	cursor: pointer;
}

.common_search .input_btn_icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
}

.error {
	font-weight: bold;
	text-align: center;
	color: #db2a2a;
	display: block;
	padding: 5px 0;
	font-size: 15px;
	text-shadow: 0px 1px 2px #fff;
}

.common_btn_oficial {
	border: 1px solid #00b901;
	display: inline-block;
	padding: 2px 8px 5px;
	border-radius: 4px;
	background-color: #ffffff;
	text-align: center;

	span {
		// background-color: #00B901;
		color: #00b901;
		font-weight: bold;
		font-size: 14px;
		letter-spacing: 0.05em;
		margin-right: 5px;
	}
}

/**
パンくず
*/
.breadcrumb {
	padding: 5px 20px;
	background-color: #e8e8e8;

	&__list {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		column-gap: 30px;

		li {
			position: relative;

			&:not(:last-of-type) {
				&:after {
					content: "";
					display: inline-block;
					width: 5px;
					height: 5px;
					border-top: 2px solid #313131;
					border-right: 2px solid #313131;
					position: absolute;
					transform: rotate(45deg);
					top: 0.9rem;
					right: -1.6rem;

					@include mq.mq(isp) {
						top: 0.7rem;
					}
				}
			}

			&:last-of-type {
				a {
					font-size: 14px;
					color: color.$gray;
					pointer-events: none;
				}
			}
		}

		a {
			font-size: 14px;
			color: color.$text;
			transition: opacity 0.2s;

			&:hover {
				opacity: 0.8;
			}
		}
	}
}

/**
テーブル
*/
table {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	border-radius: 5px;
	overflow: hidden;
	border-collapse: collapse;
	box-sizing: border-box;

	tbody {
	}

	tr {
		&:not(:last-child) {
			th {
				border-bottom: 1px solid #f5f5f5;
			}

			td {
				border-bottom: 1px solid #cab0b0;
			}
		}
	}

	th,
	td {
		@include mq.mq(isp) {
			font-size: 1.5rem;
		}
		@include mq.mq(xs) {
			width: 100%;
			display: block;
		}
	}

	th {
		width: 200px;
		// padding: 15px 10px 15px 30px;
		padding: 15px 10px;
		color: #ffffff;
		letter-spacing: 0.08em;
		background-color: #800000;
		// text-align: left;

		@include mq.mq(isp) {
			width: 150px;
		}

		@include mq.mq(xs) {
			width: 100%;
			padding: 10px 8px;
		}
	}

	td {
		background-color: #f5f5f5;
		padding: 15px 30px;
		letter-spacing: 0.05em;

		@include mq.mq(isp) {
			padding: 15px 20px;
		}

		.rearText {
			margin-left: 8px;
		}

		.list,
		.listFlex {
			list-style: none;
			display: grid;
			grid-template-columns: 1fr;
			column-gap: 20px;
			row-gap: 10px;

			.item {
				padding-left: 18px;
				position: relative;
				letter-spacing: 0.05em;

				&::before {
					content: "";
					display: inline-block;
					width: 6px;
					height: 6px;
					border-radius: 50%;
					background-color: #800000;
					position: absolute;
					top: 0.5em;
					left: 2px;
				}
			}
		}

		.listFlex {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

/**
ページネーション
*/
.pagenation_wrap {
	.pagenation_box {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.pagenation_btn {
		display: block;
		width: 25px;
		height: 30px;
		border-radius: 5px;
		text-align: center;
		line-height: 26px;
		border: 1px solid color.$main;
		background-color: color.$main;
		color: #ffffff;
		position: relative;
		margin-right: 10px;

		&._prev {
			&:after(:not(.start)) {
				transform: translate(0%, -50%) rotate(-135deg);
				&:before {
					display: none;
				}
			}

			&._start {
				&:before {
					transform: translate(-50%, -50%) rotate(-135deg);
				}
				&:after {
					transform: translate(10%, -50%) rotate(-135deg);
				}
			}
		}

		&._next {
			&:after(:not(.start)) {
				transform: translate(0%, -50%) rotate(-135deg);
				&:before {
					display: none;
				}
			}

			&._end {
				&:before {
					transform: translate(-50%, -50%) rotate(-135deg);
				}
				&:after {
					transform: translate(10%, -50%) rotate(-135deg);
				}
			}
			transform: scale(-1, 1);
		}

		&:before,
		&:after {
			content: "";
			display: inline-block;
			width: 8px;
			height: 8px;
			border-top: 1px solid #ffffff;
			border-right: 1px solid #ffffff;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-25%, -50%) rotate(-135deg);
		}

		&:before {
		}

		&::after {
		}

		&:hover {
			border: 1px solid color.$main;
			background-color: #ffffff;

			&:before,
			&:after {
				border-top: 1px solid color.$main;
				border-right: 1px solid color.$main;
			}
		}
	}

	.pagenation_numList {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		margin: 0 10px;
		column-gap: 12px;

		> li {
			&.active {
				a {
					border: 1px solid color.$main;
					background-color: #fff;
					color: color.$main;
				}
			}

			a {
				display: block;
				width: 32px;
				height: 32px;
				border-radius: 5px;
				font-size: 1.4rem;
				text-align: center;
				line-height: 30px;
				border: 1px solid color.$main;
				background-color: color.$main;
				color: #ffffff;

				&:hover {
					border: 1px solid color.$main;
					background-color: #ffffff;
					color: color.$main;
				}
			}
		}
	}
}

.ranking__pagenation {
	transform: translateY(45px);
}

.ranking__pagenation__page {
	&.is-active {
		background-color: color.$main !important;
	}
}

/**
モーダル
*/
.modal_oberlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
}

.modal_content {
	max-width: 400px;
	width: 100%;
	min-height: 150px;
	padding: 1em;
	background: #fff;
	border-radius: 4px;
	box-shadow: 3px 3px 7px 2px #989696a3;
	z-index: 101;
	padding: 40px 30px 30px;
	margin: 10px 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;

	.modal_btn {
		border: none;
		background-color: color.$main;
		border: 1px solid transparent;
		border-radius: 4px;
		color: #fff;
		font-weight: 600;
		width: 100px;
		padding: 10px 15px;
		letter-spacing: 0.15em;
		transition: background-color 0.2s;
		cursor: pointer;

		&:hover {
			background-color: #fff;
			color: color.$main;
			border: 1px solid color.$main;
		}
	}

	.close_btn {
		position: absolute;
		top: 15px;
		right: 15px;
		width: 20px;
		height: 20px;
		border: none;
		background-color: transparent;
		cursor: pointer;

		&::before,
		&::after {
			content: "";
			display: inline-block;
			width: 20px;
			height: 2px;
			background-color: #919191;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&::before {
			transform: translate(-50%, -50%) rotate(45deg);
		}

		&::after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}

	&._star {
		.modal_title {
			font-size: 16px;
			letter-spacing: 0.2rem;
			margin-bottom: 15px;
		}

		.star_wrap {
			margin-bottom: 20px;

			img {
				margin: 0 2px;
				filter: drop-shadow(1px 1px 1px #6d6d6d8d);
				cursor: pointer;
			}
		}

		.star_icon {
			margin-bottom: 20px;
		}
	}

	&._memberModefy {
		max-width: 480px;

		.modal_text_wrap {
			// text-align: center;
			margin-bottom: 30px;

			> .title {
				display: block;
				padding-left: 6px;
				padding-right: 6px;
				font-size: 15px;
				font-weight: bold;
				margin: 0 auto 15px;

				&:last-of-type {
					margin: 0 auto 10px;
				}

				&::before {
					content: "※";
					display: inline-block;
					margin-right: 5px;
					color: color.$red;
					transform: translateY(1px);
				}
			}

			> .text {
				font-size: 15px;
				letter-spacing: 0.2rem;
				text-align: left;
			}
		}
	}
}
