* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p, span, a {
  color: #ffffff;
  letter-spacing: .03em;
}

a {
  text-decoration: none;
}

.common_search {
  height: 45px;
  display: flex;
  box-shadow: 2px 4px 5px 2px #3e0f0f50;
}

.common_search.top {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 5px;
  transform: translate(-50%,-50%);
  z-index: 20;
}

.common_search .input_text {
  height: 100%;
  width: 350px;
  opacity: .9;
  font-size: 1.2rem;
  padding: 5px 10px;
  color: #333333;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: -1px 0px 4px 0px #3e0f0f40 inset;
  border: none;
}

.common_search .input_btn {
  height: 100%;
  width: 60px;
  border-top-right-radius: 5px;border-bottom-right-radius: 5px;
  background-color: #3e0f0f;
  position: relative;
}

.common_search .input_btn input {
  display: block;
  height: 100%;
  width: 60px;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  border: none;
  background-color: #3e0f0f;
  cursor: pointer;
}

.common_search .input_btn_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  pointer-events: none;
}