@use "./common/_color.scss" as color;
@use "./common/_viewport.scss" as mq;

.header {
    box-shadow: 0px 10px 20px 2px #ffe7e795;
    position: relative;
    z-index: 10;

    p,
    span,
    a {
        color: #ffffff;
        letter-spacing: 0.03em;
    }

    .top {
        background-color: color.$main;
        padding: 12px 20px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mq.mq(isp) {
            padding: 15px 15px 5px;
        }
    }

    .bottom {
        padding: 5px 20px 5px;
        background-color: color.$sub;
        display: flex;
        justify-content: flex-end;

        @include mq.mq(isp) {
            padding: 5px 15px 5px;
        }

        .favourite,
        .went {
            @include mq.mq(xs2) {
                font-size: 1.3rem;
            }
        }

        .favourite {
            margin-right: 8px;
        }
    }
}

.header h1 a {
    color: #ffffff;
    letter-spacing: 0.1em;

    @include mq.mq(xs) {
        font-size: 2.2rem;
    }
}

.member_wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.member_new,
.login,
.mypage {
    a {
        background-color: #fff;
        border-radius: 20px;
        border: 1px solid #fff;
        padding: 2px 12px;

        &:hover {
            background-color: color.$main;
            border-radius: 20px;
            padding: 2px 12px;

            .text {
                color: #ffffff;
            }

            .icon {
                color: #ffffff !important;
            }
        }

        @include mq.mq(xs3) {
            padding: 2px 6px;
        }
    }

    .text {
        margin-right: 4px;
        color: color.$main;

        @include mq.mq(xs) {
            letter-spacing: 0.05em;
            font-size: 1.3rem;
        }

        @include mq.mq(xs3) {
            font-size: 1.2rem;
        }
    }
}

.member_new {
    margin-right: 15px;

    @include mq.mq(xs3) {
        margin-right: 10px;
    }
}

.member_right {
    text-align: center;

    .member_box {
        margin-top: 5px;
    }
}

.memberName {
    display: inline-block;
    margin-bottom: 3px;

    @include mq.mq(xs) {
        font-size: 1.3rem;
    }
}

.memberFavourite {
}
