@use "./common/_color.scss" as color;

.header {
    padding: 20px;
    background-color: color.$main;
    box-shadow: 0px 10px 20px 2px #ffe7e795;
    position: relative;
    z-index: 10;

    p,
    span,
    a {
        color: #ffffff;
        letter-spacing: 0.03em;
    }
}

.header h1 a {
    color: #ffffff;
    letter-spacing: 0.1em;
}

.member_wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.member_new {
    margin-right: 30px;
}

.member_right {
    text-align: center;
}

.memberName {
    display: inline-block;
    margin-bottom: 5px;
}

.memberFavourite {
}
