@use "./common/_viewport.scss" as mq;

.hero {
    position: relative;

    .form_area {
        position: absolute;
        top: 45%;
        left: 50%;
        border-radius: 5px;
        transform: translateX(-50%);
        z-index: 20;

        @include mq.mq(xs) {
            max-width: 350px;
            width: calc(100% - 30px);
        }
    }
}

.main_wrap {
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 30px;

    p,
    span {
        color: green;
    }

    @include mq.mq(isp) {
        padding: 40px 20px;
    }

    @include mq.mq(xs) {
        padding: 40px 15px;
    }
}

.ranking {
    padding-bottom: 90px;

    @include mq.mq(isp) {
        padding-bottom: 40px;
    }

    @include mq.mq(xs) {
        padding-bottom: 60px;
    }

    &__title {
        margin-bottom: 25px;
        letter-spacing: 0.08em;

        @include mq.mq(isp) {
            font-size: 2rem;
        }
    }

    /* ======================================
    splideの記述
    pagenationのstyleはglobal.scssにて
    ========================================== */
    ul {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: 30px;
        column-gap: 30px;
        list-style: none;

        @media screen and (min-width: 576px) {
            display: grid !important;
        }

        @include mq.mq(sp) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @include mq.mq(isp) {
            grid-template-columns: 1fr 1fr;
        }

        @include mq.mq(xs) {
            row-gap: 0;
            column-gap: 0;
        }
    }

    &__item {
        width: 100%;
    }

    .pref {
        background-color: rgb(13, 123, 53);
        border-radius: 4px;
        color: #ffffff;
        font-weight: bold;
        font-size: 14px;
        display: inline-block;
        letter-spacing: 0.1em;
        margin-bottom: 5px;
        padding: 2px 8px;

        @include mq.mq(xs) {
            font-size: 12px;
            padding: 2px 6px;
        }
    }

    .name {
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 2px;
        min-height: 48px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; /* 表示する行数 */

        @include mq.mq(xs) {
            font-size: 13px;
            min-height: 40px;
            -webkit-line-clamp: 3; /* 表示する行数 */
        }
    }

    figure {
        position: relative;
        // max-width: 200px;
        width: 100%;
        aspect-ratio: 3/2;

        img {
            width: 100%;
            height: auto;
            aspect-ratio: 3/2;
            object-fit: cover;
            object-position: center;
        }
    }

    .kuchikomi {
        display: flex;
        align-items: center;
        margin: 10px 0;

        .kuchikomiTitle {
            font-size: 14px;
            margin-right: 5px;
        }

        a {
            color: #111;
            margin-left: 8px;
            text-decoration: underline;
            transition: text-decoration 0.2;

            &:hover {
                text-decoration: none;
            }
        }
    }
}
