@use "./common/_viewport.scss" as mq;
@use "./common/_font.scss" as font;
@use "./common/_color.scss" as color;

.mypage_wrap {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0px 30px 60px;

	@include mq.mq(isp) {
		padding: 0px 20px 60px;
	}

	@include mq.mq(xs) {
		padding: 0px 15px 30px;
	}
}

.hero_title {
	@include font.notoSerif_b;
	position: absolute;
	top: 200px;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;
	font-size: 2.8rem;
	letter-spacing: 0.3em;
	filter: drop-shadow(1px 1px 5px #eeeeee);

	@include mq.mq(xs) {
		font-size: 2.4rem;
		letter-spacing: 0.2em;
	}
}

.menu_wrap {
	position: relative;
	background-color: #eee;
	// background: linear-gradient(180deg, rgba(238,238,238,1) 0%, rgba(238,238,238,0.9360119047619048) 68%, rgba(238,238,238,0.2) 100%);
	padding: 30px 20px;
	margin-top: -60px;
	margin-bottom: 50px;
	z-index: 5;

	@include mq.mq(xs2) {
		padding: 20px 15px;
		width: 100vw;
		max-width: 100vw;
		margin: -60px calc(50% - 50vw) 50px;
	}

	.menu_list {
		display: flex;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		column-gap: 20px;
		row-gap: 20px;
		flex-wrap: wrap;
		justify-content: center;
		gap: 20px;
		max-width: 900px;
		width: 100%;
		margin: 0 auto;

		@include mq.mq(sp) {
			max-width: 650px;
			grid-template-columns: 1fr 1fr;
		}

		@include mq.mq(xs2) {
			column-gap: 10px;
			row-gap: 10px;
		}

		> li {
			&:first-of-type {
				a {
					margin: 0 auto;
				}
			}

			@include mq.mq(sp) {
				grid-column: span 1;

				&:first-of-type {
					@include mq.mq(sp) {
						grid-column: span 2;
					}
				}
			}

			@include mq.mq(xs3) {
				grid-column: span 1;

				&:not(:first-of-type) {
					a {
						justify-content: flex-start;
						padding: 15px 5px 15px 15px;
					}
				}
			}

			&.mypage_top {
				&.current {
					a {
						background-color: color.$main;
					}
				}

				a {
					&:hover {
						background-color: color.$main;
					}
				}
			}

			&.favorite {
				&.current {
					a {
						background-color: #f2abc6;
					}
				}

				a {
					&:hover {
						background-color: #f2abc6;
					}
				}
			}
			&.went {
				&.current {
					a {
						background-color: #cc8e23;
					}
				}

				a {
					&:hover {
						background-color: #cc8e23;
					}
				}
			}
			&.memberInfo {
				&.current {
					a {
						background-color: #248b51;
					}
				}

				a {
					&:hover {
						background-color: #248b51;
					}
				}
			}

			&.logout {
				&.current {
					a {
						background-color: #8a6f10;
					}
				}

				a {
					&:hover {
						background-color: #8a6f10;
					}
				}
			}

			&.current {
				a {
					pointer-events: none;

					.icon,
					.text {
						color: #fff !important;
					}
				}
			}

			a {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				background-color: #fff;
				padding: 20px 15px;
				border-radius: 5px;
				box-shadow: 3px 3px 10px 1px #80000015;

				&:hover {
					.icon,
					.text {
						color: #fff !important;
					}
				}

				@include mq.mq(sp) {
					padding: 15px 10px;
					flex-direction: row;
					align-items: center;
				}
			}

			.icon {
				display: block;
				margin-bottom: 10px;
				// margin-right: 20px;

				@include mq.mq(sp) {
					margin-bottom: 0;
					margin-right: 10px;
				}

				@include mq.mq(xs3) {
					width: 15px;
				}
			}

			.text {
				color: #473131;
				font-weight: 600;
				font-size: 1.5rem;
				letter-spacing: 0.05rem;

				@include mq.mq(sp) {
					font-size: 1.4rem;
				}

				@include mq.mq(xs2) {
					font-size: 1.2rem;
					letter-spacing: 0.03rem;
				}
			}
		}
	}
}

.list_wrap {
	&.favorite {
		margin-bottom: 60px;

		.removeBtn {
			width: 120px;
		}
	}

	&.went {
		margin-bottom: 60px;

		.list {
			> li {
				.img_box {
					height: 100px;

					@include mq.mq(xs) {
						height: 150px;
					}
				}

				.text_box {
					.info_evaluation {
						.kuchikomi {
							.title {
								margin-right: 16px;

								@include mq.mq(sp) {
									width: 90px;
								}
							}
						}

						.kuchikomi {
							margin-bottom: 0;
							&::after {
								content: none;
							}

							.title {
								font-size: 13px;
								font-weight: 600;
								background-color: rgba(255, 255, 255, 0.6);
								border: 1px solid #eeeeee;
								box-shadow: 1px 1px 4px 0 #80000025;
								border-radius: 20px;
								color: #494949;
								padding: 3px 4px;
								margin-left: -5px;
								text-align: center;
								letter-spacing: 0.15em;
							}
						}
					}
				}
			}
		}

		.removeBtn {
			width: 150px;
		}
	}

	.list_title {
		// @include font.notoSerif_b;
		font-size: 2rem;
		font-weight: bold;
		letter-spacing: 0.1em;
		margin-bottom: 45px;
		padding-bottom: 10px;
		padding-left: 5px;
		border-bottom: 2px solid color.$main;

		@include mq.mq(xs) {
			font-size: 1.8rem;
			margin-bottom: 35px;
		}
	}

	.list {
		padding: 0 30px;

		@include mq.mq(sp) {
			padding: 0 15px;
		}

		@include mq.mq(xs2) {
			padding: 0;
		}

		> li {
			display: flex;
			border-radius: 6px;
			background: #ebebeb;
			// box-shadow: 50px 50px 100px #d1d1d1, -50px -50px 100px #fbfbfb;
			// box-shadow: 50px 50px 100px #e8e8e8, -50px -50px 100px #fbfbfb;
			box-shadow: 7px 6px 10px #48333324;
			padding: 30px 30px;

			&:not(:last-of-type) {
				margin-bottom: 20px;
			}

			@include mq.mq(isp) {
				padding: 25px 20px 15px;
			}

			@include mq.mq(xs) {
				flex-direction: column;
			}

			@include mq.mq(xs2) {
				padding: 20px;
			}

			.img_box {
				flex-shrink: 0;
				margin-right: 40px;
				max-width: 180px;
				width: 100%;
				height: 120px;
				overflow: hidden;
				border-radius: 4px;

				@include mq.mq(sp) {
					margin-right: 25px;
				}

				@include mq.mq(isp) {
					max-width: 160px;
				}

				@include mq.mq(xs) {
					max-width: 250px;
					height: 150px;
					margin-right: 0px;
					margin: 0 auto 10px;
				}

				figure {
					height: 100%;
				}

				img {
					border-radius: 4px;
					height: 100% !important;
					object-fit: cover;
					object-position: center;
				}
			}

			.head {
				&._sp {
					display: none;

					@include mq.mq(xs) {
						display: block;
					}
				}

				&._pc {
					display: block;

					@include mq.mq(xs) {
						display: none;
					}
				}

				.pref {
					background-color: rgb(13, 123, 53);
					border-radius: 4px;
					color: #ffffff;
					font-weight: bold;
					font-size: 14px;
					display: inline-block;
					letter-spacing: 0.1em;
					margin-bottom: 8px;
					padding: 2px 8px;

					@include mq.mq(xs3) {
						font-size: 1.3rem;
						padding: 2px 6px;
						border-radius: 4px;
					}
				}

				> .title {
					@include mq.mq(sp) {
						margin-bottom: 5px;
					}
					a {
						font-size: 1.8rem;
						font-weight: bold;
						color: color.$text;

						@include mq.mq(sp) {
							font-size: 1.6rem;
						}

						@include mq.mq(xs3) {
							font-size: 1.5rem;
						}
					}
				}
			}

			.text_box {
				width: 100%;
				box-sizing: border-box;

				.info_evaluation {
					display: flex;
					padding: 5px 0;

					@include mq.mq(sp) {
						flex-direction: column;
					}

					@include mq.mq(xs2) {
						padding: 5px 0 20px;
					}

					.kuchikomi,
					.minCharge {
						display: flex;
						align-items: center;

						@include mq.mq(xs) {
							flex-wrap: wrap;
						}

						.title {
							font-size: 1.6rem;
							font-weight: bold;
							margin-right: 16px;
							letter-spacing: 0.1em;

							@include mq.mq(sp) {
								font-size: 1.5rem;
								font-weight: 500;
								width: 110px;
								margin-right: 12px;
							}

							@include mq.mq(isp) {
								font-size: 1.4rem;
								margin-right: 10px;
								width: 100px;
							}

							@include mq.mq(xs3) {
								margin-right: 2px;
								width: 100px;
							}
						}

						.num,
						.average,
						.kuchikomi_num {
							color: #bf0000;
							font-size: 2rem;
							font-weight: 700;
							letter-spacing: 0.05em;

							@include mq.mq(sp) {
								font-size: 1.8rem;
								margin-right: 3px;
							}

							@include mq.mq(isp) {
								font-size: 1.7rem;
							}

							@include mq.mq(xs) {
								font-size: 1.6rem;
							}
						}
					}

					.kuchikomi {
						margin-right: 25px;
						padding-right: 25px;
						position: relative;

						&::after {
							content: "";
							display: inline-block;
							width: 1px;
							height: calc(100%);
							background-color: #b6b6b6;
							position: absolute;
							top: 50%;
							right: 0;
							transform: translateY(-40%);
						}

						@include mq.mq(sp) {
							margin-right: 0;
							padding-right: 0;
							margin-bottom: 5px;
							&::after {
								content: none;
							}
						}

						@include mq.mq(xs2) {
							margin-right: 8px;
							padding-right: 8px;
						}

						.average,
						.kuchikomi_num {
							margin-right: 10px;

							@include mq.mq(xs) {
								margin-right: 3px;
							}
						}

						.box > span > span {
							@include mq.mq(xs) {
								svg {
									width: 12px;
								}
							}
						}

						.url {
							margin-left: 8px;
							font-size: 15px;
							text-decoration: underline;

							&:hover {
								text-decoration: none;
							}

							@include mq.mq(xs) {
								display: inline-block;
								transform: translateY(-2px);
								margin-left: 4px;
								font-size: 13px;
							}
						}
					}

					.minCharge {
						.title {
							span {
								font-size: 1.2rem;

								@include mq.mq(xs3) {
									margin-left: -2px;
								}
							}
						}
					}
				}

				.removeBtn {
					display: block;
					font-size: 1.3rem;
					margin: 0 0 0 auto;
					text-align: right;

					&:hover {
						.text {
							text-decoration: none;
						}
					}

					@include mq.mq(xs) {
						font-size: 1.1rem;
					}

					> .text {
						color: #6f6f6f95;
						text-decoration: underline;
						position: relative;
						padding-left: 14px;

						&::before,
						&::after {
							content: "";
							display: inline-block;
							width: 10px;
							height: 1px;
							background-color: #6f6f6f95;
							position: absolute;
							top: 55%;
							left: 0;
						}

						&::before {
							transform: translateY(-50%) rotate(45deg);
						}

						&::after {
							transform: translateY(-50%) rotate(-45deg);
						}
					}
				}
			}
		}
	}
}

// went
.wentMap {
	overflow: hidden;
	border-radius: 10px;
	max-width: 1000px;
	height: 520px;
	margin: 0 auto 50px;
	overflow: hidden;

	#google-map {
		border-radius: inherit;
	}
}
