@use "./common/_color.scss" as color;
@use "./common/_font.scss" as font;
@use "./common/_viewport.scss" as mq;

.search {
    &__result {
        margin-bottom: 45px;
        text-align: center;

        @include mq.mq(xs) {
            margin-bottom: 20px;
        }

        .title {
            @include font.notoSerif_b;

            font-weight: 600;
            text-align: center;
            font-size: 2.6rem;
            letter-spacing: 0.2rem;
            margin-bottom: 10px;

            > .rearTitle {
                font-size: 2.1rem;
            }

            @include mq.mq(xs) {
                font-size: 2.2rem;
                margin-bottom: 5px;

                > .rearTitle {
                    font-size: 1.8rem;
                }
            }
        }

        .resultCount {
            .num {
                display: inline-block;
                font-size: 2.2rem;
                font-weight: bold;
                color: red;
                margin-right: 5px;

                @include mq.mq(xs) {
                    font-size: 2rem;
                }
            }
        }
    }

    &__list {
        list-style: none;
    }

    &__item {
        &:not(:last-of-type) {
            margin-bottom: 30px;
        }

        // background-color: #f3cfcf71;
        border-radius: 8px;
        background: #e6e6e6;
        box-shadow: 50px 50px 100px #d1d1d1, -50px -50px 100px #fbfbfb;
    }

    &__head {
        padding: 20px 20px 15px;
        background-color: #800000;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        @include mq.mq(xs) {
            padding: 20px 8px 15px;
        }

        .hotelName,
        .hotelSpecial {
            color: #ffffff;
        }

        .hotelName {
            display: block;
            font-size: 2.2rem;
            letter-spacing: 0.1em;
            line-height: 1.5;
            margin-bottom: 20px;
            margin-left: 10px;
            padding-left: 5px;
            padding-bottom: 8px;
            border-bottom: 1px solid #eeee;

            @include mq.mq(xs) {
                font-size: 1.8rem;
                margin-bottom: 8px;
            }

            @include mq.mq(xs3) {
                font-size: 1.7rem;
            }

            &:hover {
                opacity: 0.7;
            }
        }

        .hotelSpecial {
            font-size: 1.6rem;
            letter-spacing: 0.08em;
            padding-left: 15px;

            @include mq.mq(xs) {
                font-size: 1.5rem;
            }

            @include mq.mq(xs3) {
                font-size: 1.4rem;
            }
        }
    }

    &__body {
        display: flex;
        padding: 25px 20px 25px;

        @include mq.mq(isp) {
            display: block;
            padding: 15px 15px 25px;
        }

        .img_box {
            max-width: 400px;
            width: 100%;
            min-width: 300px;
            margin-right: 30px;

            @include mq.mq(isp) {
                margin: 0 auto 20px;
                max-width: 350px;
                width: 100%;
                min-width: 250px;
            }
        }

        figure {
            aspect-ratio: 1 / 0.7;
            height: auto;
            overflow: hidden;
            position: relative;
            border-radius: 8px;
            background-color: #ffffff;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        p {
            margin-bottom: 5px;
            letter-spacing: 0.05em;
        }

        .text_box {
            @include mq.mq(pc) {
                min-width: 350px;
            }

            @include mq.mq(ipc) {
                min-width: 280px;
            }

            @include mq.mq(sp) {
                font-size: 1.5rem;
            }

            .title {
                display: inline-block;
                min-width: 70px;
                position: relative;
                margin-right: 1rem;
                color: #313131;
                font-weight: normal;
                font-size: 1.4rem;

                &:after {
                    content: ":";
                    display: inline-block;
                    position: absolute;
                    right: 0;
                    top: -0.1rem;
                }

                @include mq.mq(xs) {
                    min-width: 65px;
                }
            }
        }

        .hotelMinCharge,
        .info_list > li,
        .kuchikomi {
            display: flex;
            align-items: baseline;
            margin-bottom: 7px;

            @include mq.mq(xs) {
                margin-bottom: 5px;
            }
        }

        .hotelMinCharge {
            color: #bf0000;
            font-weight: 600;
            font-size: 1.7rem;

            .rearText {
                display: inline-block;
                font-size: 1.4rem;
                margin-left: 3px;
            }
        }

        .kuchikomi {
            .url {
                margin-left: 8px;
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
        }

        .address {
            .yubin {
                margin-right: 10px;
            }
        }

        .info_list {
            padding: 5px 0;
            margin-bottom: 12px;
            list-style: none;

            @include mq.mq(xs) {
                margin-bottom: 15px;
                padding: 5px 0 5px 2px;
            }

            > li {
                line-height: 1.5;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

        .btn_wrap {
            display: flex;
            column-gap: 10px;

            @include mq.mq(xs2) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 6px;
            }

            .detail_link {
                border: 1px solid #fff;
                display: block;
                padding: 4px 8px 5px;
                border-radius: 4px;
                background-color: #800000;
                text-align: center;
                min-width: 100px;

                span {
                    color: #fff;
                    font-weight: bold;
                    font-size: 13px;
                    letter-spacing: 0.08em;
                    // min-width: 100px;
                    // display: inline-block;
                    // text-align: center;
                }

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
}

.pagenation_wrap {
    .pagenation_box {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pagenation_numList {
        list-style: none;
        display: flex;
        margin: 0 10px;
        column-gap: 15px;

        > li {
            &.active {
                a {
                    border: 1px solid #800000;
                    background-color: #fff;
                    color: #800000;
                }
            }

            a {
                display: block;
                width: 30px;
                height: 30px;
                border-radius: 5px;
                text-align: center;
                line-height: 26px;
                border: 1px solid #800000;
                background-color: #800000;
                color: #ffffff;
            }
        }
    }
}
