.footer {
  padding: 20px;
  background-color: #800000;
  text-align: center;
}
.footer p,
.footer span,
.footer a {
  color: #ffffff;
  letter-spacing: 0.03em;
}

.footer p {
  color: #e3e3e3;
  letter-spacing: 0.05em;
}