.hotelInfo__head .head_top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid #800000;
  padding: 0 5px 10px;
  margin-bottom: 1rem;
}
@media screen and (max-width: 767px) {
  .hotelInfo__head .head_top {
    flex-direction: column-reverse;
  }
}
.hotelInfo__head .head_top .hotelName {
  font-size: 2.6rem;
  letter-spacing: 0.1em;
  color: #313131;
}
@media screen and (max-width: 999px) {
  .hotelInfo__head .head_top .hotelName {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 767px) {
  .hotelInfo__head .head_top .hotelName {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 575px) {
  .hotelInfo__head .head_top .hotelName {
    font-size: 1.7rem;
  }
}
.hotelInfo__head .head_top .favoriteBtnWrap {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media screen and (max-width: 767px) {
  .hotelInfo__head .head_top .favoriteBtnWrap {
    margin: 0 0 10px auto;
    -moz-column-gap: 8px;
         column-gap: 8px;
  }
}
.hotelInfo__head .head_top .favoriteBtnWrap .favoriteBtn,
.hotelInfo__head .head_top .favoriteBtnWrap .wentBtn {
  font-size: 1.3rem;
  color: #747474;
  padding: 5px 8px;
  border: 1px solid #747474;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  text-decoration: underline;
  min-width: 145px;
}
.hotelInfo__head .head_top .favoriteBtnWrap .favoriteBtn:hover,
.hotelInfo__head .head_top .favoriteBtnWrap .wentBtn:hover {
  text-decoration: none;
}
.hotelInfo__head .head_top .favoriteBtnWrap .favoriteBtn:hover .icon,
.hotelInfo__head .head_top .favoriteBtnWrap .wentBtn:hover .icon {
  background-position-y: 0;
}
.hotelInfo__head .head_top .favoriteBtnWrap .favoriteBtn._add,
.hotelInfo__head .head_top .favoriteBtnWrap .wentBtn._add {
  color: #ffffff;
  border: 1px solid transparent;
  text-decoration: none;
}
.hotelInfo__head .head_top .favoriteBtnWrap .favoriteBtn._add .icon,
.hotelInfo__head .head_top .favoriteBtnWrap .wentBtn._add .icon {
  background-position-y: -32px;
}
.hotelInfo__head .head_top .favoriteBtnWrap .favoriteBtn._add .icon:after,
.hotelInfo__head .head_top .favoriteBtnWrap .wentBtn._add .icon:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 100%;
  opacity: 0;
  animation: ripple 0.3s 1 ease-out;
}
@keyframes ripple {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
.hotelInfo__head .head_top .favoriteBtnWrap .favoriteBtn._add > span,
.hotelInfo__head .head_top .favoriteBtnWrap .wentBtn._add > span {
  color: #fff;
}
@media screen and (max-width: 575px) {
  .hotelInfo__head .head_top .favoriteBtnWrap .favoriteBtn,
  .hotelInfo__head .head_top .favoriteBtnWrap .wentBtn {
    font-size: 1.2rem;
    border: 1px solid rgba(116, 116, 116, 0.4392156863);
    padding: 4px 6px;
    min-width: 140px;
    letter-spacing: 0.05em;
    text-decoration: none;
  }
}
.hotelInfo__head .head_top .favoriteBtnWrap .favoriteBtn {
  min-width: 110px;
}
.hotelInfo__head .head_top .favoriteBtnWrap .favoriteBtn .icon {
  background: url("/img/icon/favorite.png") transparent no-repeat;
  background-size: 16px 48px;
  background-position-y: -16px;
}
@media screen and (max-width: 575px) {
  .hotelInfo__head .head_top .favoriteBtnWrap .favoriteBtn .icon {
    background: url("/img/icon/favorite.png") transparent no-repeat;
    width: 12px;
    height: 12px;
    background-size: 12px 37px;
    background-position-y: -12px;
  }
}
.hotelInfo__head .head_top .favoriteBtnWrap .favoriteBtn:hover {
  border-color: #dda1b8;
  color: #dda1b8;
}
.hotelInfo__head .head_top .favoriteBtnWrap .favoriteBtn:hover > span {
  color: #dda1b8;
}
.hotelInfo__head .head_top .favoriteBtnWrap .favoriteBtn._add {
  background-color: #dda1b8;
}
.hotelInfo__head .head_top .favoriteBtnWrap .favoriteBtn._add:hover {
  opacity: 0.8;
  color: #fff;
}
@media screen and (max-width: 575px) {
  .hotelInfo__head .head_top .favoriteBtnWrap .favoriteBtn._add .icon {
    background-position-y: -24px;
  }
}
.hotelInfo__head .head_top .favoriteBtnWrap .favoriteBtn._add .icon:after {
  background: #dda1b8;
}
.hotelInfo__head .head_top .favoriteBtnWrap .wentBtn .icon {
  background: url("/img/icon/pin.png") transparent no-repeat;
  background-size: 16px 48px;
  background-position-y: -16px;
}
.hotelInfo__head .head_top .favoriteBtnWrap .wentBtn:hover {
  border-color: #800000;
  color: #800000;
}
.hotelInfo__head .head_top .favoriteBtnWrap .wentBtn:hover span {
  color: #800000;
}
.hotelInfo__head .head_top .favoriteBtnWrap .wentBtn._add {
  background-color: #800000;
}
.hotelInfo__head .head_top .favoriteBtnWrap .wentBtn._add:hover {
  opacity: 0.8;
  color: #fff;
}
.hotelInfo__head .head_top .favoriteBtnWrap .wentBtn._add:hover > span {
  color: #fff;
}
.hotelInfo__head .head_top .favoriteBtnWrap .wentBtn._add .icon:after {
  background: #800000;
}
.hotelInfo__head .head_top .favoriteBtnWrap .icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  transform: translateY(1px);
  position: relative;
}
.hotelInfo__head .head_bottom .info_basic {
  display: flex;
}
@media screen and (max-width: 767px) {
  .hotelInfo__head .head_bottom .info_basic {
    flex-wrap: wrap;
  }
}
.hotelInfo__head .head_bottom .info_basic span {
  font-size: 1.3rem;
  color: #747474;
  letter-spacing: 0.08em;
}
.hotelInfo__head .head_bottom .info_basic span:not(:last-of-type):after {
  content: "/";
  display: inline-block;
  margin: 0 8px;
}
@media screen and (max-width: 767px) {
  .hotelInfo__head .head_bottom .info_basic span {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
}
.hotelInfo__head .head_bottom .info_evaluation {
  display: flex;
  padding: 10px 0;
  margin-bottom: 8px;
}
.hotelInfo__head .head_bottom .info_evaluation .kuchikomi,
.hotelInfo__head .head_bottom .info_evaluation .minCharge {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 575px) {
  .hotelInfo__head .head_bottom .info_evaluation .kuchikomi,
  .hotelInfo__head .head_bottom .info_evaluation .minCharge {
    flex-wrap: wrap;
    width: 50%;
  }
}
.hotelInfo__head .head_bottom .info_evaluation .kuchikomi .title,
.hotelInfo__head .head_bottom .info_evaluation .minCharge .title {
  font-size: 1.6rem;
  font-weight: bold;
  margin-right: 16px;
}
@media screen and (max-width: 767px) {
  .hotelInfo__head .head_bottom .info_evaluation .kuchikomi .title,
  .hotelInfo__head .head_bottom .info_evaluation .minCharge .title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 575px) {
  .hotelInfo__head .head_bottom .info_evaluation .kuchikomi .title,
  .hotelInfo__head .head_bottom .info_evaluation .minCharge .title {
    width: 100%;
    margin-right: 8px;
    margin-bottom: 3px;
  }
}
.hotelInfo__head .head_bottom .info_evaluation .kuchikomi {
  margin-right: 25px;
  padding-right: 25px;
  position: relative;
}
.hotelInfo__head .head_bottom .info_evaluation .kuchikomi::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 100%;
  background-color: #b6b6b6;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-40%);
}
@media screen and (max-width: 575px) {
  .hotelInfo__head .head_bottom .info_evaluation .kuchikomi {
    margin-right: 12px;
    padding-right: 12px;
  }
  .hotelInfo__head .head_bottom .info_evaluation .kuchikomi::after {
    background-color: #c0c0c0;
  }
}
@media screen and (max-width: 420px) {
  .hotelInfo__head .head_bottom .info_evaluation .kuchikomi {
    margin-right: 8px;
    padding-right: 8px;
  }
}
.hotelInfo__head .head_bottom .info_evaluation .kuchikomi .average {
  color: #bf0000;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin-right: 10px;
}
@media screen and (max-width: 575px) {
  .hotelInfo__head .head_bottom .info_evaluation .kuchikomi .average {
    font-size: 1.6rem;
    margin-right: 3px;
  }
}
@media screen and (max-width: 575px) {
  .hotelInfo__head .head_bottom .info_evaluation .kuchikomi .box > span > span svg {
    width: 12px;
  }
}
.hotelInfo__head .head_bottom .info_evaluation .kuchikomi .url {
  margin-left: 8px;
  font-size: 15px;
  text-decoration: underline;
}
.hotelInfo__head .head_bottom .info_evaluation .kuchikomi .url:hover {
  text-decoration: none;
}
@media screen and (max-width: 575px) {
  .hotelInfo__head .head_bottom .info_evaluation .kuchikomi .url {
    display: inline-block;
    transform: translateY(-2px);
    margin-left: 4px;
    font-size: 13px;
  }
}
.hotelInfo__head .head_bottom .info_evaluation .minCharge .title {
  margin-right: 10px;
}
.hotelInfo__head .head_bottom .info_evaluation .minCharge .title span {
  font-size: 1.2rem;
}
.hotelInfo__head .head_bottom .info_evaluation .minCharge .num {
  color: #bf0000;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 575px) {
  .hotelInfo__head .head_bottom .info_evaluation .minCharge .num {
    font-size: 1.6rem;
  }
}
.hotelInfo__head .head_bottom .hotelSpecial {
  color: #b79e24;
  font-size: 2.2rem;
  margin-bottom: 2rem;
  letter-spacing: 0.1em;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .hotelInfo__head .head_bottom .hotelSpecial {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 420px) {
  .hotelInfo__head .head_bottom .hotelSpecial {
    font-size: 1.5rem;
  }
}
.hotelInfo__body .hotelImg_wrap {
  width: 100%;
  height: 600px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid rgba(90, 90, 90, 0.1254901961);
  position: relative;
}
.hotelInfo__body .hotelImg_wrap img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}
@media screen and (max-width: 999px) {
  .hotelInfo__body .hotelImg_wrap {
    height: 450px;
  }
}
@media screen and (max-width: 767px) {
  .hotelInfo__body .hotelImg_wrap {
    height: 300px;
    background-color: #f5f5f5;
  }
  .hotelInfo__body .hotelImg_wrap img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
}
@media screen and (max-width: 575px) {
  .hotelInfo__body .hotelImg_wrap {
    height: 230px;
  }
}
.hotelInfo__body .info_title {
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-size: 2.5rem;
  letter-spacing: 0.05em;
  padding: 3px 15px;
  border-bottom: 1px solid #800000;
  color: #800000;
}
@media screen and (max-width: 767px) {
  .hotelInfo__body .info_title {
    font-size: 2.2rem;
    margin-top: 3.5rem;
    margin-bottom: 2.8rem;
  }
}
@media screen and (max-width: 575px) {
  .hotelInfo__body .info_title {
    font-size: 2rem;
    padding: 3px 10px;
  }
}
.hotelInfo__body .access__wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}
@media screen and (max-width: 999px) {
  .hotelInfo__body .access__wrap {
    flex-direction: column;
    row-gap: 25px;
  }
}
.hotelInfo__body .access .text_box {
  margin-right: 30px;
}
.hotelInfo__body .access .text_box .info_list {
  list-style: none;
}
.hotelInfo__body .access .text_box .info_list > li {
  display: flex;
  line-height: 1.8;
}
@media screen and (max-width: 575px) {
  .hotelInfo__body .access .text_box .info_list > li {
    display: block;
  }
}
.hotelInfo__body .access .text_box .info_list > li:not(:last-of-type) {
  margin-bottom: 1.5rem;
}
.hotelInfo__body .access .text_box .info_list > li .title {
  flex-shrink: 0;
  width: 90px;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  position: relative;
  padding-right: 10px;
  margin-right: 15px;
}
.hotelInfo__body .access .text_box .info_list > li .title:after {
  content: ":";
  display: inline-block;
  position: absolute;
  right: 0;
}
@media screen and (max-width: 575px) {
  .hotelInfo__body .access .text_box .info_list > li .title:after {
    content: none;
  }
}
.hotelInfo__body .access .text_box .info_list > li .box,
.hotelInfo__body .access .text_box .info_list > li .text {
  padding-left: 1.5rem;
}
.hotelInfo__body .access .img_box {
  flex-shrink: 0;
  max-width: 400px;
  width: 100%;
}
.hotelInfo__body .kuchikomi__wrap {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .hotelInfo__body .kuchikomi__wrap {
    flex-direction: column;
  }
}
.hotelInfo__body .kuchikomi__wrap .head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 45px;
  flex-shrink: 0;
}
@media screen and (max-width: 767px) {
  .hotelInfo__body .kuchikomi__wrap .head {
    flex-direction: row;
    align-items: baseline;
    margin-right: 0;
    margin-bottom: 18px;
  }
}
@media screen and (max-width: 420px) {
  .hotelInfo__body .kuchikomi__wrap .head {
    flex-wrap: wrap;
  }
}
.hotelInfo__body .kuchikomi__wrap .head .title {
  font-family: "Noto Serif JP";
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
  letter-spacing: 0.25em;
}
@media screen and (max-width: 767px) {
  .hotelInfo__body .kuchikomi__wrap .head .title {
    margin-bottom: 0;
    margin-right: 5px;
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 420px) {
  .hotelInfo__body .kuchikomi__wrap .head .title {
    display: block;
    text-align: center;
    width: 100%;
  }
}
.hotelInfo__body .kuchikomi__wrap .head .average {
  font-size: 30px;
  font-weight: bold;
  color: #bf0000;
}
@media screen and (max-width: 767px) {
  .hotelInfo__body .kuchikomi__wrap .head .average {
    font-size: 2.6rem;
    display: inline-block;
    margin-right: 8px;
  }
}
.hotelInfo__body .kuchikomi__wrap .head .box {
  margin: 5px 0;
}
.hotelInfo__body .kuchikomi__wrap .head .url {
  font-size: 13px;
  text-decoration: underline;
}
@media screen and (max-width: 767px) {
  .hotelInfo__body .kuchikomi__wrap .head .url {
    transform: translateY(-3px);
    display: inline-block;
    margin-left: 5px;
  }
}
.hotelInfo__body .kuchikomi__wrap .head .url:hover {
  text-decoration: none;
}
.hotelInfo__body .kuchikomi__wrap .body {
  border-radius: 10px;
  width: 100%;
  padding: 25px 40px;
  background-color: #f5f5f5;
}
@media screen and (max-width: 999px) {
  .hotelInfo__body .kuchikomi__wrap .body {
    padding: 25px 23px;
  }
}
@media screen and (max-width: 767px) {
  .hotelInfo__body .kuchikomi__wrap .body {
    padding: 20px 18px;
  }
}
.hotelInfo__body .kuchikomi__wrap .body .kuchikomi_list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 20px;
}
@media screen and (max-width: 999px) {
  .hotelInfo__body .kuchikomi__wrap .body .kuchikomi_list {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media screen and (max-width: 767px) {
  .hotelInfo__body .kuchikomi__wrap .body .kuchikomi_list {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media screen and (max-width: 575px) {
  .hotelInfo__body .kuchikomi__wrap .body .kuchikomi_list {
    grid-template-columns: 1fr;
    row-gap: 15px;
  }
}
.hotelInfo__body .kuchikomi__wrap .body .kuchikomi_list > li {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px 25px;
}
@media screen and (max-width: 999px) {
  .hotelInfo__body .kuchikomi__wrap .body .kuchikomi_list > li {
    padding: 10px 20px;
  }
}
@media screen and (max-width: 767px) {
  .hotelInfo__body .kuchikomi__wrap .body .kuchikomi_list > li {
    padding: 8px 18px;
  }
}
.hotelInfo__body .kuchikomi__wrap .body .kuchikomi_list .title {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.05em;
  display: inline-block;
  margin-right: 15px;
  width: 70px;
}
@media screen and (max-width: 999px) {
  .hotelInfo__body .kuchikomi__wrap .body .kuchikomi_list .title {
    width: 65px;
    margin-right: 10px;
  }
}
.hotelInfo__body .kuchikomi__wrap .body .kuchikomi_list .average {
  display: inline-block;
  margin-right: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #bf0000;
  width: 60px;
}
@media screen and (max-width: 999px) {
  .hotelInfo__body .kuchikomi__wrap .body .kuchikomi_list .average {
    width: 48px;
    margin-right: 2px;
  }
}
.hotelInfo__body .basicInfo table,
.hotelInfo__body .otherInfo table {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  border-collapse: collapse;
  box-sizing: border-box;
}
.hotelInfo__body .basicInfo table tr:not(:last-child) th,
.hotelInfo__body .otherInfo table tr:not(:last-child) th {
  border-bottom: 1px solid #f5f5f5;
}
.hotelInfo__body .basicInfo table tr:not(:last-child) td,
.hotelInfo__body .otherInfo table tr:not(:last-child) td {
  border-bottom: 1px solid #cab0b0;
}
@media screen and (max-width: 767px) {
  .hotelInfo__body .basicInfo table th,
  .hotelInfo__body .basicInfo table td,
  .hotelInfo__body .otherInfo table th,
  .hotelInfo__body .otherInfo table td {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 575px) {
  .hotelInfo__body .basicInfo table th,
  .hotelInfo__body .basicInfo table td,
  .hotelInfo__body .otherInfo table th,
  .hotelInfo__body .otherInfo table td {
    width: 100%;
    display: block;
  }
}
.hotelInfo__body .basicInfo table th,
.hotelInfo__body .otherInfo table th {
  width: 200px;
  padding: 15px 10px;
  color: #ffffff;
  letter-spacing: 0.08em;
  background-color: #800000;
}
@media screen and (max-width: 767px) {
  .hotelInfo__body .basicInfo table th,
  .hotelInfo__body .otherInfo table th {
    width: 150px;
  }
}
@media screen and (max-width: 575px) {
  .hotelInfo__body .basicInfo table th,
  .hotelInfo__body .otherInfo table th {
    width: 100%;
    padding: 10px 8px;
  }
}
.hotelInfo__body .basicInfo table td,
.hotelInfo__body .otherInfo table td {
  background-color: #f5f5f5;
  padding: 15px 30px;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 767px) {
  .hotelInfo__body .basicInfo table td,
  .hotelInfo__body .otherInfo table td {
    padding: 15px 20px;
  }
}
.hotelInfo__body .basicInfo table td .rearText,
.hotelInfo__body .otherInfo table td .rearText {
  margin-left: 8px;
}
.hotelInfo__body .basicInfo table td .list,
.hotelInfo__body .basicInfo table td .listFlex,
.hotelInfo__body .otherInfo table td .list,
.hotelInfo__body .otherInfo table td .listFlex {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 10px;
}
.hotelInfo__body .basicInfo table td .list .item,
.hotelInfo__body .basicInfo table td .listFlex .item,
.hotelInfo__body .otherInfo table td .list .item,
.hotelInfo__body .otherInfo table td .listFlex .item {
  padding-left: 18px;
  position: relative;
  letter-spacing: 0.05em;
}
.hotelInfo__body .basicInfo table td .list .item::before,
.hotelInfo__body .basicInfo table td .listFlex .item::before,
.hotelInfo__body .otherInfo table td .list .item::before,
.hotelInfo__body .otherInfo table td .listFlex .item::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #800000;
  position: absolute;
  top: 0.5em;
  left: 2px;
}
.hotelInfo__body .basicInfo table td .listFlex,
.hotelInfo__body .otherInfo table td .listFlex {
  grid-template-columns: repeat(2, 1fr);
}