.mypage_wrap {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 30px 60px;
}
@media screen and (max-width: 767px) {
  .mypage_wrap {
    padding: 0px 20px 60px;
  }
}
@media screen and (max-width: 575px) {
  .mypage_wrap {
    padding: 0px 15px 30px;
  }
}

.hero_title {
  font-family: "Noto Serif JP";
  font-weight: 600;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 2.8rem;
  letter-spacing: 0.3em;
  filter: drop-shadow(1px 1px 5px #eeeeee);
}
@media screen and (max-width: 575px) {
  .hero_title {
    font-size: 2.4rem;
    letter-spacing: 0.2em;
  }
}

.menu_wrap {
  position: relative;
  background-color: #eee;
  padding: 30px 20px;
  margin-top: -60px;
  margin-bottom: 50px;
  z-index: 5;
}
@media screen and (max-width: 420px) {
  .menu_wrap {
    padding: 20px 15px;
    width: 100vw;
    max-width: 100vw;
    margin: -60px calc(50% - 50vw) 50px;
  }
}
.menu_wrap .menu_list {
  display: flex;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 999px) {
  .menu_wrap .menu_list {
    max-width: 650px;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 420px) {
  .menu_wrap .menu_list {
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 10px;
  }
}
.menu_wrap .menu_list > li:first-of-type a {
  margin: 0 auto;
}
@media screen and (max-width: 999px) {
  .menu_wrap .menu_list > li {
    grid-column: span 1;
  }
}
@media screen and (max-width: 999px) and (max-width: 999px) {
  .menu_wrap .menu_list > li:first-of-type {
    grid-column: span 2;
  }
}
@media screen and (max-width: 375px) {
  .menu_wrap .menu_list > li {
    grid-column: span 1;
  }
  .menu_wrap .menu_list > li:not(:first-of-type) a {
    justify-content: flex-start;
    padding: 15px 5px 15px 15px;
  }
}
.menu_wrap .menu_list > li.mypage_top.current a {
  background-color: #800000;
}
.menu_wrap .menu_list > li.mypage_top a:hover {
  background-color: #800000;
}
.menu_wrap .menu_list > li.favorite.current a {
  background-color: #f2abc6;
}
.menu_wrap .menu_list > li.favorite a:hover {
  background-color: #f2abc6;
}
.menu_wrap .menu_list > li.went.current a {
  background-color: #cc8e23;
}
.menu_wrap .menu_list > li.went a:hover {
  background-color: #cc8e23;
}
.menu_wrap .menu_list > li.memberInfo.current a {
  background-color: #248b51;
}
.menu_wrap .menu_list > li.memberInfo a:hover {
  background-color: #248b51;
}
.menu_wrap .menu_list > li.logout.current a {
  background-color: #8a6f10;
}
.menu_wrap .menu_list > li.logout a:hover {
  background-color: #8a6f10;
}
.menu_wrap .menu_list > li.current a {
  pointer-events: none;
}
.menu_wrap .menu_list > li.current a .icon,
.menu_wrap .menu_list > li.current a .text {
  color: #fff !important;
}
.menu_wrap .menu_list > li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px 15px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px 1px rgba(128, 0, 0, 0.0823529412);
}
.menu_wrap .menu_list > li a:hover .icon,
.menu_wrap .menu_list > li a:hover .text {
  color: #fff !important;
}
@media screen and (max-width: 999px) {
  .menu_wrap .menu_list > li a {
    padding: 15px 10px;
    flex-direction: row;
    align-items: center;
  }
}
.menu_wrap .menu_list > li .icon {
  display: block;
  margin-bottom: 10px;
}
@media screen and (max-width: 999px) {
  .menu_wrap .menu_list > li .icon {
    margin-bottom: 0;
    margin-right: 10px;
  }
}
@media screen and (max-width: 375px) {
  .menu_wrap .menu_list > li .icon {
    width: 15px;
  }
}
.menu_wrap .menu_list > li .text {
  color: #473131;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
}
@media screen and (max-width: 999px) {
  .menu_wrap .menu_list > li .text {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 420px) {
  .menu_wrap .menu_list > li .text {
    font-size: 1.2rem;
    letter-spacing: 0.03rem;
  }
}

.list_wrap.favorite {
  margin-bottom: 60px;
}
.list_wrap.favorite .removeBtn {
  width: 120px;
}
.list_wrap.went {
  margin-bottom: 60px;
}
.list_wrap.went .list > li .img_box {
  height: 100px;
}
@media screen and (max-width: 575px) {
  .list_wrap.went .list > li .img_box {
    height: 150px;
  }
}
.list_wrap.went .list > li .text_box .info_evaluation .kuchikomi .title {
  margin-right: 16px;
}
@media screen and (max-width: 999px) {
  .list_wrap.went .list > li .text_box .info_evaluation .kuchikomi .title {
    width: 90px;
  }
}
.list_wrap.went .list > li .text_box .info_evaluation .kuchikomi {
  margin-bottom: 0;
}
.list_wrap.went .list > li .text_box .info_evaluation .kuchikomi::after {
  content: none;
}
.list_wrap.went .list > li .text_box .info_evaluation .kuchikomi .title {
  font-size: 13px;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #eeeeee;
  box-shadow: 1px 1px 4px 0 rgba(128, 0, 0, 0.1450980392);
  border-radius: 20px;
  color: #494949;
  padding: 3px 4px;
  margin-left: -5px;
  text-align: center;
  letter-spacing: 0.15em;
}
.list_wrap.went .removeBtn {
  width: 150px;
}
.list_wrap .list_title {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-bottom: 45px;
  padding-bottom: 10px;
  padding-left: 5px;
  border-bottom: 2px solid #800000;
}
@media screen and (max-width: 575px) {
  .list_wrap .list_title {
    font-size: 1.8rem;
    margin-bottom: 35px;
  }
}
.list_wrap .list {
  padding: 0 30px;
}
@media screen and (max-width: 999px) {
  .list_wrap .list {
    padding: 0 15px;
  }
}
@media screen and (max-width: 420px) {
  .list_wrap .list {
    padding: 0;
  }
}
.list_wrap .list > li {
  display: flex;
  border-radius: 6px;
  background: #ebebeb;
  box-shadow: 7px 6px 10px rgba(72, 51, 51, 0.1411764706);
  padding: 30px 30px;
}
.list_wrap .list > li:not(:last-of-type) {
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .list_wrap .list > li {
    padding: 25px 20px 15px;
  }
}
@media screen and (max-width: 575px) {
  .list_wrap .list > li {
    flex-direction: column;
  }
}
@media screen and (max-width: 420px) {
  .list_wrap .list > li {
    padding: 20px;
  }
}
.list_wrap .list > li .img_box {
  flex-shrink: 0;
  margin-right: 40px;
  max-width: 180px;
  width: 100%;
  height: 120px;
  overflow: hidden;
  border-radius: 4px;
}
@media screen and (max-width: 999px) {
  .list_wrap .list > li .img_box {
    margin-right: 25px;
  }
}
@media screen and (max-width: 767px) {
  .list_wrap .list > li .img_box {
    max-width: 160px;
  }
}
@media screen and (max-width: 575px) {
  .list_wrap .list > li .img_box {
    max-width: 250px;
    height: 150px;
    margin-right: 0px;
    margin: 0 auto 10px;
  }
}
.list_wrap .list > li .img_box figure {
  height: 100%;
}
.list_wrap .list > li .img_box img {
  border-radius: 4px;
  height: 100% !important;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.list_wrap .list > li .head._sp {
  display: none;
}
@media screen and (max-width: 575px) {
  .list_wrap .list > li .head._sp {
    display: block;
  }
}
.list_wrap .list > li .head._pc {
  display: block;
}
@media screen and (max-width: 575px) {
  .list_wrap .list > li .head._pc {
    display: none;
  }
}
.list_wrap .list > li .head .pref {
  background-color: rgb(13, 123, 53);
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  letter-spacing: 0.1em;
  margin-bottom: 8px;
  padding: 2px 8px;
}
@media screen and (max-width: 375px) {
  .list_wrap .list > li .head .pref {
    font-size: 1.3rem;
    padding: 2px 6px;
    border-radius: 4px;
  }
}
@media screen and (max-width: 999px) {
  .list_wrap .list > li .head > .title {
    margin-bottom: 5px;
  }
}
.list_wrap .list > li .head > .title a {
  font-size: 1.8rem;
  font-weight: bold;
  color: #313131;
}
@media screen and (max-width: 999px) {
  .list_wrap .list > li .head > .title a {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 375px) {
  .list_wrap .list > li .head > .title a {
    font-size: 1.5rem;
  }
}
.list_wrap .list > li .text_box {
  width: 100%;
  box-sizing: border-box;
}
.list_wrap .list > li .text_box .info_evaluation {
  display: flex;
  padding: 5px 0;
}
@media screen and (max-width: 999px) {
  .list_wrap .list > li .text_box .info_evaluation {
    flex-direction: column;
  }
}
@media screen and (max-width: 420px) {
  .list_wrap .list > li .text_box .info_evaluation {
    padding: 5px 0 20px;
  }
}
.list_wrap .list > li .text_box .info_evaluation .kuchikomi,
.list_wrap .list > li .text_box .info_evaluation .minCharge {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 575px) {
  .list_wrap .list > li .text_box .info_evaluation .kuchikomi,
  .list_wrap .list > li .text_box .info_evaluation .minCharge {
    flex-wrap: wrap;
  }
}
.list_wrap .list > li .text_box .info_evaluation .kuchikomi .title,
.list_wrap .list > li .text_box .info_evaluation .minCharge .title {
  font-size: 1.6rem;
  font-weight: bold;
  margin-right: 16px;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 999px) {
  .list_wrap .list > li .text_box .info_evaluation .kuchikomi .title,
  .list_wrap .list > li .text_box .info_evaluation .minCharge .title {
    font-size: 1.5rem;
    font-weight: 500;
    width: 110px;
    margin-right: 12px;
  }
}
@media screen and (max-width: 767px) {
  .list_wrap .list > li .text_box .info_evaluation .kuchikomi .title,
  .list_wrap .list > li .text_box .info_evaluation .minCharge .title {
    font-size: 1.4rem;
    margin-right: 10px;
    width: 100px;
  }
}
@media screen and (max-width: 375px) {
  .list_wrap .list > li .text_box .info_evaluation .kuchikomi .title,
  .list_wrap .list > li .text_box .info_evaluation .minCharge .title {
    margin-right: 2px;
    width: 100px;
  }
}
.list_wrap .list > li .text_box .info_evaluation .kuchikomi .num,
.list_wrap .list > li .text_box .info_evaluation .kuchikomi .average,
.list_wrap .list > li .text_box .info_evaluation .kuchikomi .kuchikomi_num,
.list_wrap .list > li .text_box .info_evaluation .minCharge .num,
.list_wrap .list > li .text_box .info_evaluation .minCharge .average,
.list_wrap .list > li .text_box .info_evaluation .minCharge .kuchikomi_num {
  color: #bf0000;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 999px) {
  .list_wrap .list > li .text_box .info_evaluation .kuchikomi .num,
  .list_wrap .list > li .text_box .info_evaluation .kuchikomi .average,
  .list_wrap .list > li .text_box .info_evaluation .kuchikomi .kuchikomi_num,
  .list_wrap .list > li .text_box .info_evaluation .minCharge .num,
  .list_wrap .list > li .text_box .info_evaluation .minCharge .average,
  .list_wrap .list > li .text_box .info_evaluation .minCharge .kuchikomi_num {
    font-size: 1.8rem;
    margin-right: 3px;
  }
}
@media screen and (max-width: 767px) {
  .list_wrap .list > li .text_box .info_evaluation .kuchikomi .num,
  .list_wrap .list > li .text_box .info_evaluation .kuchikomi .average,
  .list_wrap .list > li .text_box .info_evaluation .kuchikomi .kuchikomi_num,
  .list_wrap .list > li .text_box .info_evaluation .minCharge .num,
  .list_wrap .list > li .text_box .info_evaluation .minCharge .average,
  .list_wrap .list > li .text_box .info_evaluation .minCharge .kuchikomi_num {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 575px) {
  .list_wrap .list > li .text_box .info_evaluation .kuchikomi .num,
  .list_wrap .list > li .text_box .info_evaluation .kuchikomi .average,
  .list_wrap .list > li .text_box .info_evaluation .kuchikomi .kuchikomi_num,
  .list_wrap .list > li .text_box .info_evaluation .minCharge .num,
  .list_wrap .list > li .text_box .info_evaluation .minCharge .average,
  .list_wrap .list > li .text_box .info_evaluation .minCharge .kuchikomi_num {
    font-size: 1.6rem;
  }
}
.list_wrap .list > li .text_box .info_evaluation .kuchikomi {
  margin-right: 25px;
  padding-right: 25px;
  position: relative;
}
.list_wrap .list > li .text_box .info_evaluation .kuchikomi::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 100%;
  background-color: #b6b6b6;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-40%);
}
@media screen and (max-width: 999px) {
  .list_wrap .list > li .text_box .info_evaluation .kuchikomi {
    margin-right: 0;
    padding-right: 0;
    margin-bottom: 5px;
  }
  .list_wrap .list > li .text_box .info_evaluation .kuchikomi::after {
    content: none;
  }
}
@media screen and (max-width: 420px) {
  .list_wrap .list > li .text_box .info_evaluation .kuchikomi {
    margin-right: 8px;
    padding-right: 8px;
  }
}
.list_wrap .list > li .text_box .info_evaluation .kuchikomi .average,
.list_wrap .list > li .text_box .info_evaluation .kuchikomi .kuchikomi_num {
  margin-right: 10px;
}
@media screen and (max-width: 575px) {
  .list_wrap .list > li .text_box .info_evaluation .kuchikomi .average,
  .list_wrap .list > li .text_box .info_evaluation .kuchikomi .kuchikomi_num {
    margin-right: 3px;
  }
}
@media screen and (max-width: 575px) {
  .list_wrap .list > li .text_box .info_evaluation .kuchikomi .box > span > span svg {
    width: 12px;
  }
}
.list_wrap .list > li .text_box .info_evaluation .kuchikomi .url {
  margin-left: 8px;
  font-size: 15px;
  text-decoration: underline;
}
.list_wrap .list > li .text_box .info_evaluation .kuchikomi .url:hover {
  text-decoration: none;
}
@media screen and (max-width: 575px) {
  .list_wrap .list > li .text_box .info_evaluation .kuchikomi .url {
    display: inline-block;
    transform: translateY(-2px);
    margin-left: 4px;
    font-size: 13px;
  }
}
.list_wrap .list > li .text_box .info_evaluation .minCharge .title span {
  font-size: 1.2rem;
}
@media screen and (max-width: 375px) {
  .list_wrap .list > li .text_box .info_evaluation .minCharge .title span {
    margin-left: -2px;
  }
}
.list_wrap .list > li .text_box .removeBtn {
  display: block;
  font-size: 1.3rem;
  margin: 0 0 0 auto;
  text-align: right;
}
.list_wrap .list > li .text_box .removeBtn:hover .text {
  text-decoration: none;
}
@media screen and (max-width: 575px) {
  .list_wrap .list > li .text_box .removeBtn {
    font-size: 1.1rem;
  }
}
.list_wrap .list > li .text_box .removeBtn > .text {
  color: rgba(111, 111, 111, 0.5843137255);
  text-decoration: underline;
  position: relative;
  padding-left: 14px;
}
.list_wrap .list > li .text_box .removeBtn > .text::before, .list_wrap .list > li .text_box .removeBtn > .text::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 1px;
  background-color: rgba(111, 111, 111, 0.5843137255);
  position: absolute;
  top: 55%;
  left: 0;
}
.list_wrap .list > li .text_box .removeBtn > .text::before {
  transform: translateY(-50%) rotate(45deg);
}
.list_wrap .list > li .text_box .removeBtn > .text::after {
  transform: translateY(-50%) rotate(-45deg);
}

.wentMap {
  overflow: hidden;
  border-radius: 10px;
  max-width: 1000px;
  height: auto;
  margin: 0 auto 50px;
  overflow: hidden;
}
.wentMap #google-map {
  border-radius: inherit;
}
.wentMap .gm-style-iw.gm-style-iw-c {
  padding: 30px;
}
.wentMap .window_wrap .hotelName {
  color: #313131;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.wentMap .window_wrap .detail_link {
  border: 1px solid #fff;
  display: block;
  padding: 4px 8px 5px;
  border-radius: 4px;
  background-color: #800000;
  text-align: center;
  width: 100px;
  margin: 0 auto;
}
.wentMap .window_wrap .detail_link span {
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.08em;
}
.wentMap .window_wrap .detail_link:hover {
  opacity: 0.7;
}